# Import the required libraries and modules

In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service

import pandas as pd
import time

# Setup and Start

In [2]:
url = "https://www.yelp.com/"
s = Service("chromedriver-win32/chromedriver")

driver = webdriver.Chrome(service = s)
driver.get(url)
time.sleep(3)

# Search about Resturant

In [3]:
find_section = driver.find_element(By.ID, value = 'search_description')
find_section.click()
find_section.send_keys('Restaurants')

In [4]:
search_button = driver.find_element(By.XPATH, value = '//button[@class =  "find-near-button__09f24__cN8vv css-1vg9j2"]')
search_button.click()
# time.sleep(3)

# Find Data

In [8]:
all_items = driver.find_elements(By.XPATH, value = '//div[@class ="  padding-t3__09f24__TMrIW padding-r3__09f24__eaF7p padding-b3__09f24__S8R2d padding-l3__09f24__IOjKY border-color--default__09f24__NPAKY"]')

data = []

for item in all_items:
    try:
        name = item.find_element(By.XPATH, value = './/a[@class ="css-19v1rkv"]').text
    except:
        name = 'Unknown'
    
    try:
        location = item.find_element(By.XPATH, value = ".//p[@class='css-dzq7l1']/span[@class = ' css-chan6m']").text
    except:
        location = 'Unknown'
    
    try:
        review_counts = item.find_element(By.XPATH, value = ".//div[@class=' display--inline-block__09f24__fEDiJ  border-color--default__09f24__NPAKY']/span[@class = ' css-chan6m']").text
    except:
        review_counts = -1
    
    try:
        stars = item.find_element(By.XPATH, value = ".//div[@class = ' five-stars__09f24__mBKym five-stars--regular__09f24__DgBNj display--inline-block__09f24__fEDiJ  border-color--default__09f24__NPAKY']")
        stars_number = stars.get_attribute('aria-label').split(' ')[0]
    except:
        stars_number = -1
        
    data.append([name, location, int(review_counts), float(stars_number)])

In [9]:
data

[['Teakwood', 'Hayes Valley', 22, 4.5],
 ['Mattina', 'Lower Pacific Heights', 36, 4.0],
 ['Marufuku Ramen', 'Japantown', 4676, 4.5],
 ['Katsuo + Kombu', 'NoPa', 16, 4.5],
 ['Savor', 'Inner Sunset', 148, 4.5],
 ['Kothai Republic', 'Inner Sunset', 159, 4.5],
 ['The Snug', 'Pacific Heights', 399, 4.0],
 ['Lokma', 'Outer Richmond', 695, 4.5],
 ['Bottega', 'Mission', 791, 4.5],
 ['That’s My Jam', 'Lower Haight', 57, 5.0]]

In [10]:
len(data)

10

# Create Pandas Dataframe

In [11]:
df = pd.DataFrame(data, columns = ['Name', 'Location', 'ReviewCounts', 'StarsNumber'])
df

              Name               Location  ReviewCounts  StarsNumber
0         Teakwood           Hayes Valley            22          4.5
1          Mattina  Lower Pacific Heights            36          4.0
2   Marufuku Ramen              Japantown          4676          4.5
3   Katsuo + Kombu                   NoPa            16          4.5
4            Savor           Inner Sunset           148          4.5
5  Kothai Republic           Inner Sunset           159          4.5
6         The Snug        Pacific Heights           399          4.0
7            Lokma         Outer Richmond           695          4.5
8          Bottega                Mission           791          4.5
9    That’s My Jam           Lower Haight            57          5.0